psycopg2
python-dotenv==0.21.0
pandas==2.0.1
pycoingecko
snscrape
web3
dbt-core
dbt-postgres
dbt-redshift
dbt-snowflake
dbt-bigquery
flipside

#ethereum-etl
#ethereum-etl[streaming]
#datetime
#python-socketio
#matplotlib
#jupyter
#seaborn
#numpy
#scipy
#statsmodels
#scikit-learn
#skforecast
#flipside
#plotly
#dagster
#flask
#streamlit
#psycopg2-binary